:root{
    --border-color: #bbb;
    --border-color-light: #ddd;
    --color-offwhite: #f9f9f9;
}

.gutter{padding:0 1rem;}
.padding-1{padding:1rem;}
.padding-2{padding:2rem;}

.container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding:0 1rem;/*gutter*/
    box-sizing: border-box
}

.no-gutter{padding-left:0;padding-right:0;}

.container.micro{
    max-width:600px;
}
.container.small{
    max-width:1000px;
}

.container.big{max-width:1400px;}

.row{display:flex;flex-direction: row;align-items: flex-start;flex-wrap: wrap;}
.row.is-column{flex-direction:column;}
.row.reverse{flex-direction: row-reverse;}
.row.nowrap{flex-wrap: nowrap;}
.row.align-center{justify-content: center;}
.row.space-around{justify-content: space-around;}
.row.space-between{justify-content: space-between;}
.row.pad-cols > .col{padding:10px;}
.row.vertical-center{align-items: center;}
.row.vertical-bottom{align-items: flex-end;}
.col {box-sizing: border-box}
.col.grow,.row.grow > .col{flex-grow: 1;}
.col.shrink{flex-shrink: 1;}
.col.align-right{margin-left:auto;}

.col {padding:0 10px;box-sizing: border-box;}
.col.auto{width:auto;}
.one.col {width: 8.3333333333%; flex-basis: 8.3333333333%;}
.two.col {width: 16.6666666667%; flex-basis: 16.6666666667%;}
.three.col {width: 25%; flex-basis: 25%;}
.four.col {width: 33.3333333333%; flex-basis: 33.3333333333%;}
.five.col {width: 41.6666666667%; flex-basis: 41.6666666667%;}
.six.col {width: 50%; flex-basis: 50%;}
.seven.col {width: 58.3333333333%; flex-basis: 58.3333333333%;}
.eight.col {width: 66.6666666667%; flex-basis: 66.6666666667%;}
.nine.col {width: 75%; flex-basis: 75%;}
.ten.col {width: 83.3333333333%; flex-basis: 83.3333333333%;}
.eleven.col {width: 91.6666666667%; flex-basis: 91.6666666667%;}



@media (max-width: 600px) {
    .row.mobile-collapse{flex-direction: column;}
    .row.mobile-collapse > .col{max-width:100%;flex-basis: 100%;width:100%;padding:10px 0;}
}

@media (min-width:660px){.mobile-show{display:none;}}
@media (max-width:660px){.mobile-hide{display:none;}}
@media (max-width:1080px){.desktop-show{display:none;}}
@media (min-width:1080px){.desktop-hide{display:none;}}

.full-height {height: 100%;}
.page-height {height: 90vh;}
.full-width {width: 100%!important;}
.max-full-width {max-width: 100%;}
.pull-right {float: right}
.pull-left {float: left}
.cf {content: "";display: table;clear: both}

.text-right{text-align:right;}
.text-center{text-align:center;}
.text-left{text-align:left;}


body {font-weight: 400;font-family: Inter, 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;}
input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],select,textarea {
    padding: 11px 10px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    margin-bottom:1rem;
}

.button,button{
    display: inline-block;
    padding: 11px 20px;
    color: #555;
    text-align: center;
    font-size: 12px;
    border-radius:3px;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
}

.button.big,button.big{font-size:16px;padding:20px 35px;}
.button.no-outline,button.no-outline{border-width:0;}
.button.ghost,button.ghost{border-width:2px;}
.button + small, button + small{font-size:12px;margin-top:20px;display:block;}
label,legend {display: block;margin-bottom: .5rem;}

label{font-size:14px;font-weight:600;}

code{background:var(--color-offwhite); padding:3px;margin:3px;color:#555;border-radius:3px; border:1px solid var(--border-color-light);}

.heading-microcopy{font-size:16px;}

h1,h2,h3, .h1,.h2,.h3{margin-top: 0;font-weight: 600;margin-bottom: 1rem;}
h1, .h1 {font-size: 42px;line-height: 1.2;}
h2, .h2 {font-size: 30px;line-height: 1.25;}
h3, .h3{font-size:25px;}
p,.p1,.p2,.p3{line-height:1.6;}
.p1{font-size:18px;}
.p2{font-size:16px;}
.p3{font-size:14px;}
small{font-size:12px;}
@media (min-width: 550px) {
    h1, .h1 {font-size:10vh;}
}

.bg-offwhite{background:var(--color-offwhite);}
.border-white{border:1px solid white;}

.box{background:white;border:1px solid var(--border-color);}