.padding_1{padding:1rem;}
.padding_2{padding:2rem;}

.container {
    position: relative;
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box
}

.container.micro{
    max-width:600px;
}
.container.small{
    max-width:1000px;
}

.container.big{max-width:1400px;}

.row{display:flex;flex-direction: row;align-items: flex-start;}
.row.is-column{flex-direction:column;}
.row.reverse{flex-direction: row-reverse;}
.row.wrap{flex-wrap: wrap;}
.row.align-center{justify-content: center;}
.row.space-around{justify-content: space-around;}
.row.vertical-center{align-items: center;}
.row.vertical-bottom{align-items: flex-end;}
.columns {box-sizing: border-box}
.six.columns {max-width: 50%;flex-basis:50%;}
.four.columns {max-width: 25%;flex-basis:25%;}
.columns.grow{flex-grow: 1;}
.columns.shrink{flex-shrink: 1;}
.columns.align-right{margin-left:auto;}
.container:after,.u-cf {content: "";display: table;clear: both}

@media (min-width: 550px) {
    .columns {padding:0 10px;box-sizing: border-box;}
    .columns.auto{width:auto;}
    .row.table{display:table-row;width:100%;}
    .row.table .columns{display:table-cell;vertical-align: top;}
    .one.columns {max-width: 8.3333333333%; flex-basis: 8.3333333333%;}
    .two.columns {max-width: 16.6666666667%; flex-basis: 16.6666666667%;}
    .three.columns {max-width: 25%; flex-basis: 25%;}
    .four.columns {max-width: 33.3333333333%; flex-basis: 33.3333333333%;}
    .five.columns {max-width: 41.6666666667%; flex-basis: 41.6666666667%;}
    .seven.columns {max-width: 58.3333333333%; flex-basis: 58.3333333333%;}
    .eight.columns {max-width: 66.6666666667%; flex-basis: 66.6666666667%;}
    .nine.columns {max-width: 75%; flex-basis: 75%;}
    .ten.columns {max-width: 83.3333333333%; flex-basis: 83.3333333333%;}
    .eleven.columns {max-width: 91.6666666667%; flex-basis: 91.6666666667%;}
    .twelve.columns {max-width: 100%; flex-basis: 100%;;}
}


@media (max-width: 600px) {
    .mobile-hide{display:none;} 
    .row.mobile-collapse{flex-direction: column;}
    .row.mobile-collapse > .columns{max-width:100%;flex-basis: 100%;width:100%;padding:10px 0;}
}
@media (min-width: 600px) {
    *.mobile-show{display:none!important;}
}

@import url('https://rsms.me/inter/inter.css');
body {font-weight: 400;font-family: Inter, 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;}
input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],select,textarea {
    padding: 11px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    margin-bottom:1rem;
}

.button,button{
    display: inline-block;
    padding: 11px 20px;
    color: #555;
    text-align: center;
    font-size: 12px;
    border-radius:3px;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #bbb;
    box-sizing: border-box;
}

.button.big,button.big{font-size:16px;padding:20px 35px;}
.button.no-outline,button.no-outline{border-width:0;}
.button.ghost,button.ghost{border-width:2px;}
.button-microcopy{font-size:12px;max-width:140px;}
.button + .button-microcopy, button + .button-microcopy{margin-top:20px;}
label,legend {display: block;margin-bottom: .5rem;}

@media (min-width:660px){.mobile-show{display:none;}}
@media (max-width:660px){.mobile-hide{display:none;}}
@media (max-width:1080px){.desktop-show{display:none;}}
@media (min-width:1080px){.desktop-hide{display:none;}}

.u-full-height {height: 100%;}
.u-page-height {height: 100vh;}
.u-full-width {width: 100%!important;}
.u-max-full-width {max-width: 100%;}
.u-pull-right {float: right}
.u-pull-left {float: left}

.text-right{text-align:right;}
.text-center{text-align:center;}
.text-left{text-align:left;}

label{font-size:14px;font-weight:600;}

.heading-microcopy{font-size:16px;}

h1,h2,h3, .h1,.h2,.h3{margin-top: 0;font-weight: 300;margin-bottom: 1em;}
h1, .h1 {font-size: 42px;line-height: 1.2;margin-bottom:40px;font-weight: 600;}
h2, .h2 {font-size: 30px;line-height: 1.25;}
h3, .h3{font-size:25px;}
p,.p1,.p2,.p3{line-height:1.6;}
.p1{font-size:18px;}
.p2{font-size:16px;}
.p3{font-size:14px;}
small{font-size:12px;}
@media (min-width: 550px) {
    h1, .h1 {font-size:5vh;}
}